html {
    scroll-behavior: smooth;
}

body{
    /* scroll-snap-type: y mandatory; */
    color: #222;
}


/* ------------------------------------------------------------------------------- */
/* Parallax */
/* ------------------------------------------------------------------------------- */
#bgimg-1, #bgimg-2, #bgimg-3, #bgimg-4, #bgimg-5 {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin: 0px -10px;
    position: relative;
}

#bgimg-1 {
    background-image: url("../images/img5.png");
    /* background-image: linear-gradient(to bottom, rgba(255, 192, 203, 1), blue); */
    /* background-color: rgb(255, 192, 203); */
    min-height: 100vh;
    scroll-snap-align: start;
}

#container-1 {
    display: flex;
    flex-flow: row wrap;
    background-color: #333;
    margin: 15px;
}

#bgimg-2 {
    background-image: url("../images/img4.png");
    /* background-color: teal; */
    min-height: 100vh;
    scroll-snap-align: start;
}

#bgimg-3 {
    background-image: url("../images/img3.png");
    /* background-color: yellow; */
    min-height: 100vh;
    scroll-snap-align: start;
}

#bgimg-4 {
    background-image: url("../images/img4.png");
    /* background-color: purple; */
    min-height: 100vh;
    scroll-snap-align: start;
}

#bgimg-5 {
    background-image: url("../images/img5.png");
    /* background-color: orange; */
    min-height: 100vh;
    scroll-snap-align: start;
}

.parallax-divider {
    height:60px;
    background-color:rgba(0, 0, 0, .2); 
    margin: 0 -10px;
}

.scroll-text {
    text-align: center;
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    bottom: 30px;
}

/* ---------------------- */
/* Section 1 styling... */
/* ---------------------- */
.about-me, .skill-chart {
    margin: 10px;
}

.about-me-header {
    text-align: center;
}

.about-me {
    flex: 1 1 45%;
    position: relative;
    padding: 20px;
    color: white;
}

#profile-image {
    margin: 10px 30px 10px 10px;
    width: 150px;
    object-fit: contain;
    float: left;
}

.social-links {
    flex: 1 1 45%;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.linkedin, .github {
    border: 2px solid white;
    padding: 10px 5px;
    flex-basis: 45%;
}

.linkedin:hover, .github:hover{
    background-color: rgba(255, 255, 255, .2)
}


.skill-chart {
    flex: 1 1 300px;
    color: white;
    /* min-width: 400px; */
    padding: 15px;
}

.skill-chart-header {
    text-align: center;
}

#myChart {
    margin: auto;
    /* margin-top: 70px; */
    min-width: 300px;
    max-width: 450px;
}


.currently-exploring {
    flex: 1 1 45%;
    margin: 10px;
    padding: 15px;
}
                    
.currently-exploring > h3 {
    text-align: center;
}

.currently-exploring-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.currently-exploring-list > div {
    padding: 10px;
    /* margin: 10px; */
    /* border: 1px solid white; */
    font-size: 1.2em;
}